---
import BuyersSellers from "../../components/sections/buyers-sellers.astro";
import Coaching from "../../components/sections/coaching.astro";
import MainLayout from "../../layouts/main.astro";
import Method from "../../components/sections/method.astro";
import Service from "../../components/sections/service.astro";
import Info from "../../components/sections/info.astro";
---

<MainLayout>
  <div class="mx-auto container">
    <Service />
    <BuyersSellers />
    <Method />
    <Coaching />
    <Info />
  </div>
</MainLayout>
