---
import SectionTitle from "../section-title.astro";
import { methodQuery } from "../../sanity.queries";
import { sanity } from "../../lib/sanity";
import Section from "../section";

const locale = Astro.currentLocale;
const section = (await sanity.fetch(methodQuery, { lang: locale }))!;
---

<Section client:load name="method">
  <SectionTitle>
    <Fragment slot="subtitle">{section.section}</Fragment>
    {section.title}
  </SectionTitle>

  <ol
    class="py-2 text-lg gap-16 list-decimal grid md:grid-cols-2 marker:text-primary marker:font-display"
  >
    {
      section.steps.map((step, index) => (
        <li class="flex sm:list-item">
          <div class="text-primary font-display sm:hidden shrink-0">
            {index + 1}.&nbsp;
          </div>
          <p>
            <span class="font-bold font-display">{step.title}:</span>{" "}
            {step.description}
          </p>
        </li>
      ))
    }
  </ol>
</Section>
